.our-services .title {
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
}
.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0;
}
.card-services {
    width: 600px;
    margin-top: 30px;
    margin-bottom: 95px;
    padding: 30px 20px 40px 35px;
    position: relative;
    background-color: #fff;
    border-radius: 0px 45px 45px 0px;
    box-shadow: 0px 15px 40px rgba(112, 144, 176, 0.2);
}
  .card-services h2 {
    font-size: 30px;
    margin-bottom: 23px;
    font-size: 24px;
    width: fit-content;
    position: relative;
}
.card-services h4 {
    font-size: 20px;
    padding: 10px 0;
}
.card-services p {
    padding: 10px 0;
    color: rgb(61, 61, 61);
}
.branding-services p {
  padding: 0;
}
.card-services h2::after {
    content: "";
    height: 2px;
    width: 145px;
    position: absolute;
    bottom: -6px;
    left: 0;
    background-color: #f90;
}
.image {
    position: absolute;
    bottom: -15px;
    right: 20px;
}

.burbile h2::after {
    content: "";
    height: 2px;
    width: 145px;
    position: absolute;
    bottom: -6px;
    left: 0;
    background-color: #a513ff;
}
@media (max-width: 1115px) {
    .services {
      justify-content: center;
    }
    .card-services {
      width: 700px;
    }
}
@media (max-width: 430px) {
    .image {
      display: none;
    }
}